*, *::after, *::before {
    box-sizing: border-box;
}
.link {
    color: #ffffff;
    text-decoration: none;
    text-decoration: solid;
}
.heading {
    font-family: 'PT Serif', serif;
    font-weight: 700;
}
.film-heading {
    font-style: italic; 
}
.text {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}
.header {
    height: 300px;
    background-image: url(./images/photo_2_2023-05-28_23-41-48.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.img-wrapp {
    border-radius: 50%;
    overflow: hidden;
}
.nav {
    display: flex;
    justify-self: flex-end;
}
.nav-list {
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 40px;
    padding: 10px;
}
.nav-link {
    color: burlywood;
    transition: color 1000ms cubic-bezier(.17, .67, .83, .67);
}
.nav-link:hover {
    color: #e98120;
}
.main {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(./images/photo_6_2023-05-28_23-41-48.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
.main-films {
    flex-direction: column;
}
.main-header {
    display: none;
}
.card {
    height: 400px;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid gray;
    box-shadow: 2px 2px 5px rgb(31, 31, 31); 
    background-color: #c58c57;
    overflow: hidden;
    margin: 20px;
}
.card-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.home-card {
    flex-basis: 25%;
}
.biography-card {
    height: 450px;
    width: 800px;
}
.film-card {
    height: 650px;
    padding-left: 40px;
}
.film-list {
    list-style-type: circle;
}
.film-img {
    width: 300px;
    height: 500px;
    float: left;
}
.film-desc {
    padding: 30px;
    font-size: 20px;
}
.film-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}